<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" *ngIf="showNavigation" class="nav-spacing">
    <button mat-button routerLink='/recipes'>{{usersName}} Recipes</button>
    <button mat-raised-button routerLink='/recipes/new' color="accent">ADD NEW RECIPE</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>

    <button mat-raised-button color="warn" (click)="click_logout()">Sign out</button>
</mat-toolbar>

<router-outlet></router-outlet>